@font-face {
    src: url("fonts/crackman.ttf");
}

.menu-scene {
    -fx-background-color: #192841;
}

.menu-label {
    -fx-text-fill: #ffc;
    -fx-font-size: 100px;
    -fx-font-family: 'Crackman';
}